/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.custom-modal {
  &.mat-mdc-dialog-container {
    padding: 0;
  }
}

// Prevent aria-hidden from being applied to app-root when modal is open
.modal-dialog {
  .cdk-overlay-backdrop {
    ~ app-root {
      &[aria-hidden='true'] {
        aria-hidden: false;
      }
    }
  }
}

// Ensure proper focus management for modals
.cdk-overlay-pane {
  &:focus {
    outline: none;
  }
}
